/* src/styles/global.css */
@import "tailwindcss";

@theme {
  --color-custom-cream: #F2E8CF;
  --color-custom-dark-green: #386641;
  --color-custom-medium-green: #6A994E;
  --color-custom-light-green: #A7C957;
  --color-custom-red: #BC4749;
  --color-custom-black: #111111;
}


/* util opcional para iconos */
.ui-icon { width: 1.125rem; height: 1.125rem; display:inline-block; vertical-align:middle; }
