---
import "../styles/global.css";
import Footer from "@/components/Footer";
const { title = "Autóctonos" } = Astro.props;
import CartDrawer from "@/components/cart-drawer";

---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body class="flex min-h-screen flex-col">
    <main class="mx-auto w-full max-w-6xl flex-grow px-6 py-24">
      <slot />
      <CartDrawer client:load />
    </main>

    <Footer client:idle />
  </body>
</html>
