---
// src/layouts/MainLayout.astro
import "@/styles/global.css";
const { title = "Autóctonos" } = Astro.props;
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen">
    <main class="container mx-auto max-w-7xl px-6 pt-6">
      <slot />
    </main>
  </body>
</html>
